# Server
PORT=3001

# Client
CLIENT_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

# DB
DB_HOST=localhost
DB_PORT=3306
DB_USER=ham_user
DB_PASSWORD=ham_password
DB_NAME=ham
DB_SYNC_ALTER=true

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=pass
